@import "@fortawesome/fontawesome-free/css/all.min.css";

@config "../../tailwind.config.js";

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --safe-area-inset-top: 0;
    --safe-area-inset-right: 0;
    --safe-area-inset-bottom: 0;
    --safe-area-inset-left: 0;
}

body {
    padding: var(--safe-area-inset-top) var(--safe-area-inset-right) var(--safe-area-inset-bottom)
        var(--safe-area-inset-left);
}

:root:has(.modal[open]) {
    scrollbar-gutter: auto !important;
}
